:root {
  --color-primary: #0fbcf9;
  --color-gradient: linear-gradient(#00a8ff, #0097e6);
  --color-primary-hover: #17c0eb;
}
.btn-lg {
  --bs-btn-font-size: 1.5rem;
  --bs-btn-padding-y: 0.8rem;
  --bs-btn-padding-x: 2rem;
}
