@import "_reset";
@import "_variables";
@import "_media";
@import "_bases";

/*.topbar {
  background: var(--color-gradient);
  height: 5rem;
}
.logo {
  padding: 1.5rem 3rem;
  color: white;
}
h1 {
  color: var(--color-primary);
}*/
