extends ../layout.pug 
block content
 .d-flex.justify-content-center.align-items-center.m-5.p-5
     form.card(action=content._id?'/tweets/edit?id='+content._id:'/tweets' method="POST")
       .card-header 
         h1.title-principal Ecrire un tweet
       .card-body.p-5
         .card-group.p-2
           if content
             textarea.form-control(name="content" tweetid=content._id,  cols="80", rows="6",placeholder="what is happing")=content.content?content.content:""
           else 
             textarea.form-control(name="content", cols="80", rows="6",placeholder="what is happing")
           if errors 
             ul 
               each error in errors 
                 li.text-danger.my-3=error
         .w-100.p-2 
           button.btn.btn-primary.btn-lg Envoyer
           
       